.main-container {
	display: flex;
	align-items: center;
	height: 500px;
	@include pc-mini {
		height: 1000px;
		display: flex;
		align-items: center;
    justify-content: center;
		flex-flow: column;
	}
}
